<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ScondAteam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>searchPurchase.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>searchPurchase.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartSelectServlet</display-name>
    <servlet-name>CartSelectServlet</servlet-name>
    <servlet-class>searchPurchase.CartSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartSelectServlet</servlet-name>
    <url-pattern>/CartSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSelectServlet</display-name>
    <servlet-name>LoginSelectServlet</servlet-name>
    <servlet-class>acount.LoginSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSelectServlet</servlet-name>
    <url-pattern>/LoginSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>searchPurchase.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartChangeServlet</display-name>
    <servlet-name>CartChangeServlet</servlet-name>
    <servlet-class>searchPurchase.CartChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartChangeServlet</servlet-name>
    <url-pattern>/CartChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartCheckServlet</display-name>
    <servlet-name>CartCheckServlet</servlet-name>
    <servlet-class>searchPurchase.CartCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartCheckServlet</servlet-name>
    <url-pattern>/CartCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAcountServlet</display-name>
    <servlet-name>AddAcountServlet</servlet-name>
    <servlet-class>acount.AddAcountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAcountServlet</servlet-name>
    <url-pattern>/AddAcountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>searchPurchase.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPageServlet</display-name>
    <servlet-name>LoginPageServlet</servlet-name>
    <servlet-class>acount.LoginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPageServlet</servlet-name>
    <url-pattern>/LoginPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutPageServlet</display-name>
    <servlet-name>LogoutPageServlet</servlet-name>
    <servlet-class>acount.LogoutPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutPageServlet</servlet-name>
    <url-pattern>/LogoutPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StraightCartServlet</display-name>
    <servlet-name>StraightCartServlet</servlet-name>
    <servlet-class>searchPurchase.StraightCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StraightCartServlet</servlet-name>
    <url-pattern>/StraightCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecomendServlet</display-name>
    <servlet-name>RecomendServlet</servlet-name>
    <servlet-class>searchPurchase.RecomendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecomendServlet</servlet-name>
    <url-pattern>/RecomendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MypageServlet</display-name>
    <servlet-name>MypageServlet</servlet-name>
    <servlet-class>acount.MypageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MypageServlet</servlet-name>
    <url-pattern>/MypageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryServlet</display-name>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>acount.HistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/HistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>master.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterSelectServlet</display-name>
    <servlet-name>MasterSelectServlet</servlet-name>
    <servlet-class>master.MasterSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterSelectServlet</servlet-name>
    <url-pattern>/MasterSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbchangeServlet</display-name>
    <servlet-name>DbchangeServlet</servlet-name>
    <servlet-class>master.DbchangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbchangeServlet</servlet-name>
    <url-pattern>/DbchangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MstInsertBeanDAO</display-name>
    <servlet-name>MstInsertBeanDAO</servlet-name>
    <servlet-class>master.MstInsertBeanDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MstInsertBeanDAO</servlet-name>
    <url-pattern>/MstInsertBeanDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>master.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelServlet</display-name>
    <servlet-name>CancelServlet</servlet-name>
    <servlet-class>acount.CancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelServlet</servlet-name>
    <url-pattern>/CancelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistCheckServlet</display-name>
    <servlet-name>RegistCheckServlet</servlet-name>
    <servlet-class>acount.RegistCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistCheckServlet</servlet-name>
    <url-pattern>/RegistCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountCheckServlet</display-name>
    <servlet-name>UpdateAccountCheckServlet</servlet-name>
    <servlet-class>acount.UpdateAccountCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountCheckServlet</servlet-name>
    <url-pattern>/UpdateAccountCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountDoServlet</display-name>
    <servlet-name>UpdateAccountDoServlet</servlet-name>
    <servlet-class>acount.UpdateAccountDoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountDoServlet</servlet-name>
    <url-pattern>/UpdateAccountDoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet</display-name>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>acount.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/UpdateAccountServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginCheckFilter</display-name>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TaxChangeServlet</display-name>
    <servlet-name>TaxChangeServlet</servlet-name>
    <servlet-class>master.TaxChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaxChangeServlet</servlet-name>
    <url-pattern>/TaxChangeServlet</url-pattern>
  </servlet-mapping>
</web-app>